## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<!-- Menubar -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container"><!-- This keeps the margins nice -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="${abs_link('/')}">
            %if logo_url:
                <img src="${logo_url}" alt="${blog_title}" id="logo">
            %endif

            % if show_blog_title:
                <span id="blog-title">${blog_title}</span>
            % endif
            </a>
        </div><!-- /.navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                ${base.html_navigation_links()}
                ${template_hooks['menu']()}
            </ul>
            %if search_form:
                ${search_form}
            %endif

            <ul class="nav navbar-nav navbar-right">
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<div class="container" id="content">
    <div class="body-content">
        <!--Body content-->
        <div class="row">
            ${template_hooks['page_header']()}
            <!-- We put this on top on small screens, but on the right on wide
            screend -->
            <div class="col-md-4 col-md-push-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <!-- For some reason, Nikola's theme appears to have
                        messed up the following h2 tag -->
                        <!--h2 class="panel-title"-->Dav's Projects

                    </div>
                    <div class="panel-body">
                        <!-- I want to make this generated from markdown! -->
                        <ul>
                            <li><a
                            href="http://dlab-berkeley.github.io/dlab-methods">
                            D-Lab Methods</a>
                            <li><a href="http://statsforchange.org">Stats for
                            Change</a>
                            <li><a href="http://collaboratool.berkeley.edu">BCE
                            - Berkeley's standard environment for research and
                              teaching</a>
                            <li><a href="https://osf.io/iwdru/">MTurk Admin - a
                            library to make longitudinal "crowdsourcing"
                            experiments easier</a>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-8 col-md-pull-4">
                <%block name="content"></%block>
            </div>
        </div>
        <!--End of body content-->

        <footer>
            ${content_footer}
            ${template_hooks['page_footer']()}
        </footer>
    </div>
</div>

${base.late_load_js()}
    <script>jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <%block name="extra_js"></%block>
    % if annotations and post and not post.meta('noannotations'):
        ${notes.code()}
    % elif not annotations and post and post.meta('annotations'):
        ${notes.code()}
    % endif
${body_end}
${template_hooks['body_end']()}
</body>
</html>
